* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Abril Fatface', cursive;
}

.header {
    width: 90%;
    margin: auto;
    
}

.menu_navegador li a {
    text-decoration: none;
    color: black;
    font-family: 'Abril Fatface', cursive;
    list-style: none;
    border: none;
    width: auto;
    margin-left: auto;
    overflow: hidden;
    text-align: center;
    display: block;
    
}

.menu_navegador {
    list-style-type: none;
    border: none;
    text-align: center;
    vertical-align: baseline;
    position: relative;
}

.menu_navegador li {
    display: inline-block;
    text-align: center;
    margin: 0 20px



}

#newsletter {
    padding: 15px;
    color: #86817c;
    background: #FAD8D6;

}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input{
    padding: 4px;
    height: 25px;
    width: 250px;
    border-radius: 5px;

}


/*@-webkit-keyframes cambiarColor {
  0% {
    background-color: #ffffef;
  }
  100% {
    background-color: #fff;
  }
}

@keyframes cambiarColor {
  0% {
    background-color: #ffffef;
  }
  100% {
    background-color: #fff;
  }
}


table.cheatsheet.referencia tr th {
  background-color: #CC3366;
  color: #fff; 
}*/
 

/*HEADER*/

header {
    background: #FAD8D6;
    padding: 10px;
    font-family:'Abril Fatface', cursive;

    }
header h1 {
    font-size: 70px;
    text-align: center;

}

header .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*
header nav ul {
    display: inline-block;
}
header .contenedor nav ul li {
    display: inline-block;
    margin: 0 10x;
}

header .contenedor nav ul li a {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #D1B1C8;


}
*/
header .contenedor h1 {
    text-transform: uppercase;
    color:  white;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

main {
    padding: 30px 0;
    background-color: #D1B1C8;

}

main h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    margin-bottom: 20px;
}

main article {
    display: flex;
    flex-direction: column-reverse;
    
}

main article img {
    width: 80%;
    display: block;
    padding: 2%

}

main article p {
    font-size: 1.2rem;
    line-height: 150%; /*interlineado*/
    text-align: center;

}

.boost {
    background-color: #D1B1C8
}

/* SECCION GALERÍA */

section div {
    padding: 30px;
    background: #FAD8D6;

}

section h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    margin-bottom: 20px;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section ul li {
    width: 48%;
    margin-bottom: 10px;
}

section ul li img {
    width: 100%;

}

footer {
    padding: 30px 0;
    background: purple;

}

footer p {
    background: #A167A5;
    color: black;
    text-align: center;
    font-size: 30px;
}

footer nav {
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px

}

/*ESTO ES LO QUE APRENDIMOS DE MOBILE FIRST*/

@media screen and (min-width: 1025px) {
    * {
        font-size: 16px;

    }
header .contenedor {
    flex-direction: row;
    justify-content: space-between;
    }
main article {
    flex-direction: row;
    align-items: center;
    }
main article p {
    width: 50%;
}
main article img {
    width: auto;
    margin: auto;
}
section ul li {
    width: 32%;

}
section div ul li img{
    filter: grayscale(1)
}
section div ul li img:hover {
    filter: grayscale(0)
}

.discos img {
	height: 100%;
	width: 100%;
	border-radius: 5px;
}

.discos {
	background: #d6cab0;
    width: 100%;
    height: 600px;
    margin: auto;
    padding-right: 10px;
    
}


h5 {
	text-align: center;
    color: #282726;
    font-family: 'ROBOTO', sans-serif;
    font-size: 15pt;
    padding-top: 10px;
    margin-bottom: 42px;
    letter-spacing: 11pt;
   
}

.discos h6 {
	font-family: 'Raleway', sans-serif;
	font-size: 10pt;
	text-align: center;
	padding-left: 5px;
	color: #35424a;
	margin-bottom: 0px;
	text-align: center;
	
}

section ol {
	font-family: 'Raleway', sans-serif;
	font-size: 8pt;
	color: #35424a;
}

.contdiscos {
	display: flex;
	justify-content: space-around;
	align-content: flex-start;
	flex-wrap: wrap-reverse;

}

.item {
	width: 50%;
    position: relative;
    overflow: hidden;
    margin-top: 40px;
    flex: 2 2 70%;
    margin-left: 34px;
    padding-right: 34px;
}

.albumimg {
	transition: all 0.5s;
    opacity: 1;
    
}

.textodisco {
	position: absolute;
	bottom: 2px;
	padding-right: 14px;
	font-size: 5px;
	font-family: 'Raleway', sans-serif;
	transform: translateY(150%);
    transition: all 0.5s ease-out;
    vertical-align: middle; 
	
}

.item:hover .textodisco {
	transform: translateY(0%);
}

.item:hover .albumimg {
	transform: scale(1.10);
	opacity: 0.3;
}

/* lo que agregué */
.header {
    width: 90%;
    margin: auto;
    
}

.menu_navegador li a {
    text-decoration: none;
    color: black;
    font-family: 'Abril Fatface', cursive;
    list-style: none;
    border: none;
    width: auto;
    margin-left: auto;
    overflow: hidden;
    text-align: center;
    display: block;
    
}

/*Para todos*/


#subtitulo {
    
    font-size: 50pt;
    color: lightcoral;
    margin-top: 28px;
}

#subtitulo2 {
    font-size: 25pt;
    color: lightcoral;
    margin-top: -50px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    font-family: 'Abril Fatface', cursive;
}
div h5 {
    
        font-family: 'Abril Fatface', 'cursive';
           
    }
    
}
ul {
    margin: 0px;
    padding: 0px;   
}

.button_1 {
    height: 38px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-radius: 5px;
}

.dark{
    margin-top: 10px;
}

.darktxt{
    margin-top: 10px;
    padding-bottom: 5px;
}

.darkimg {
    margin-top: 18px;
}


/*Header*/

header {
    background: #282726;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #d6cab0 3px solid;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1{
    margin: 0px; 
    font-family: 'Pratta', serif;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #86817c;
    font-weight: bold;
}

header a:hover {
    color: #86817c;
    font-weight: bold;
}